body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: aquamarine;
}

.gomb
{
    background-color: white;
    padding-left: 50px;
    padding-bottom: 100px;
    margin-left: 550px;
    font-size: 30px;
}
